// Content
.content {
  word-wrap: break-word;

  h2 {
    margin-top: 5rem;
    margin-bottom: 1.1rem;
    text-align: center;
    font-family: 'Ubuntu', serif;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;

    & + h3 {
      margin-top: 1.6em;
    }
  }

  h3 {
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 2.5rem;
    padding-bottom: 0.6rem;
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Ubuntu', Verdana, sans-serif;
    line-height: 1.3;
  }

  h5 {
    margin-top: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
  }

  .header-anchor {
    background: none;
    border-bottom: none;
    color: lighten($color-gray, 5%);
    opacity: 0;
    transition: all .3s;
    position: absolute;

    &:before { content: '#'; }
    &:hover {
      text-decoration: none;
      background: none;
    }
  }

    h1, h2, h3, h4, h5, h6 {
      &:hover .header-anchor {
        opacity: 1;
      }

      .touch & .header-anchor {
        opacity: 1;
      }
    }

    h1, h2 .header-anchor {
      margin-left: -0.7em;
    }

    h3, h4, h5, h6 {
      .header-anchor { margin-left: -0.85em; }
    }

  strong { font-weight: bold; }

  em { font-style: italic; }

  small {
    font-size: 0.8em;
    line-height: 1.05;
  }

  p {
    margin-bottom: 1.2em;
    hyphens: auto;
    hanging-punctuation: first;
  }

  a {
    color: $color-black-text;
    border-bottom: 1px solid currentColor;
  }

  // Lists
  ul li {
    &:before {
      position: absolute;
      content: '—';
      text-indent: -1.2em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ol,
  ul {
    margin-bottom: 1em;
    padding-left: 1.5em;
  }

  ol li,
  ul li {
    margin-bottom: 0.7em;
  }

  blockquote {
    padding: 10px 20px;
    border-left: 5px solid lighten($color-gray, 20%);
    color: lighten($color-black-text, 10%);
    margin: 0 0 20px;

    @media #{$screen-medium} {
      padding: 5px 20px;
    }
  }

  blockquote ol:last-child, 
  blockquote p:last-child, 
  blockquote ul:last-child {
    margin-bottom: 0;
  }

  ins {
    background-color: $color-yellow;
    text-decoration: $color-yellow;
    color: $color-black-text;
  }

  mark {
    background-color: $color-yellow;
    color: $color-black-text;
    font-weight: bold;
    font-style: italic;
  }

  code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  pre {
    display: block;
    margin: 0 0 10px;
    padding: .75em;
    border: 1px solid $color-gray;
    background-color: lighten($color-gray, 20%);
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5;
  }

  code {
    padding: 0.1em 0.2em;
    font-size: 80%;
    color: inherit;
    border-radius: 3px;
    border: 1px solid $color-gray;
  }

  hr {
    display: block;
    margin: 4rem auto;
    max-width: 160px;
    border: 0;
    border-top: 1px solid lighten($color-gray, 15%);
  }

  details {
    font-size: 80%;
  }

  // Images

  figure {
    margin-bottom: 1rem;
  }

  figcaption {
    // margin: auto;
    max-width: 95%;
    color: lighten($color-black-text, 10%);
    // text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    a { color: lighten($color-black-text, 20%); }

    @media #{$screen-medium} {
      max-width: 80%;
    }
  }

  > img {
    margin-bottom: 1rem;
  }

  iframe {
    width: 100%;
    max-width: 100%;
  }

  img {
    display: block;
    max-width: 100vw;
    position: relative;
    left: -1rem;

    @media #{$screen-medium} {
      max-width: 100%;
      left: auto;
    }
  }

    .wide img { left: auto; }
    li img { left: auto; }

  // Prevent images lists/quote from incorrect sizing
  blockquote img,
  ol img,
  li img {
    max-width: 100%;
    margin-left: 0;
  }

  .small-image,
  em img {
    border-top: 1px solid lighten($color-gray, 25%);
    border-bottom: 1px solid lighten($color-gray, 25%);
    margin: 0.5rem auto;
    padding: 5px 0;

    img { margin: auto; }

    @media #{$screen-medium} {
      max-width: 500px;
      border: 1px solid lighten($color-gray, 25%);
      padding: 5px;
      margin: 1rem auto;
    }
  }

  .bordered {
    border-top: 1px solid lighten($color-gray, 25%);
    border-bottom: 1px solid lighten($color-gray, 25%);

    @media #{$screen-medium} {
      border: 1px solid lighten($color-gray, 25%);
    }
  }

  .wide {
    position: relative;
    width: 100vw;
    left: -50vw;
    margin-left: 50%;

    @media #{$screen-large} {
      width: 1100px;
      left: -180px;
      margin-left: auto;
    }
  }

  .video-overlay {
    position: relative;
    width: 100vw;
    left: -1rem;

    @media #{$screen-medium} {
      width: initial;
      left: initial;
    }
  }

    .video-overlay:after {
      content: '';
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url('/assets/play.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px;
      transition: all 0.2s;

      @media #{$screen-medium} {
        background-size: 100px;
      }
    }

    .video-overlay:hover:after {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .video-overlay img {
      left: 0;
    }


  .row {
    @include clearfix;
  }

    // Gaps
    .collage [class^="column-"],
    .collage [class*=" column-"] {
      padding: 2px 0;
    }

    .collage img {
      margin: auto;
    }

    @media #{$screen-medium} {

      .collage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // Gaps
      .collage [class^="column-"],
      .collage [class*=" column-"] {
        padding: 2px;
      }

      .collage.no-gap [class^="column-"],
      .collage.no-gap [class*=" column-"] {
        padding: 0;
      }

      // Remove gaps for the first and last column in row
      [class^="column-"]:first-child,
      [class*=" column-"]:first-child {
        padding-left: 0;
      }

      [class^="column-"]:last-child,
      [class*=" column-"]:last-child {
        padding-right: 0;
      }

      // Heights
      .height-s {
        height: 100px;
      }

      .height-m {
        height: 250px;
      }

      .height-l {
        height: 350px;
      }

      .height-xl {
        height: 400px;
      }

      // Columns
      [class^="column-"] {
        float: left;
      }

      .column-1-2 {
        width: 50%;
      }

      .column-1-3 {
        width: 33.333333%;
      }

      .column-1-4 {
        width: 25%;
      }

      .column-full {
        width: 100%;
        float: none;
      }

    }

  // Custom blocks

  .lead {
    font-size: 110%;
    font-family: 'Ubuntu', sans-serif;
  }

  .side-note {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
    font-size: 80%;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100px;
      border-top: 1px solid $color-gray;
    }

    &:before {
      margin: 30px auto 20px auto;
    }

    &:after {
      margin: 20px auto 30px auto;
    }
  }
}
