html {
  font-size: 14px;

  @media #{$screen-medium} {
    font-size: 16px;
  }
}

body {
  color: $color-black-text;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $color-black-text;
  text-decoration: none;
}

// Header
.main-header {
  max-width: $row-m;
  margin: auto;
}

.title-nav {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  font-family: $font-primary;

  @media #{$screen-medium} {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.title-nav-pic {
  width: 80px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.title-nav-header {
  color: $color-black-text;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
}

.title-nav__list-item {
  font-size: 14px;
  display: inline;
  margin: 0 9px;

  @media #{$screen-medium} {
    font-size: 17px;
  }
}

.title-nav__list-item a {
  border-bottom: 1px solid $color-black;
}

// .title-nav-slash {
//   color: darken($color-gray, 30%);
// }

// Index page
.about {
  margin-bottom: 40px;
}

.about-header {
  max-width: $row-s;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.about-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.about-lead {
  font-size: 19px;
  font-weight: bold;
  text-align: center;

  @media #{$screen-medium} {
    font-size: 27px;
  }
}

.about-text p {
  hyphens: none;
}

.about-text {
  max-width: $row-xs;
  margin: auto;
  font-family: $font-primary;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45;
  padding: 0 0.6em;

  @media #{$screen-medium} {
    font-size: 20px;
    line-height: 1.65;
  }
}

.about-text p {
  margin-bottom: 0.8em;
}

// .about-text a,
// .about-text a:hover {
//   color: $color-black;
//   background-image: linear-gradient(transparent 84%, currentColor 84%, currentColor 88%, transparent 88%);
// }

.index-page {
  background-color: $color-black-text;
  background-image: url('/assets/lock.jpg');
  // background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, .6);
    z-index: 2;
  }

  .about {
    margin: auto;
    max-width: $row-xs;
    position: relative;
    z-index: 5;
    color: $color-white;
    text-align: center;
    font-family: $font-primary;
    font-size: 1.35rem;
    line-height: 1.4;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 0 0.6em;

    @media #{$screen-medium} {
      font-size: 1.5rem;
      line-height: 1.45;
    }

    .title {
      color: $color-white;
      font-family: $font-primary;
      font-size: 1.4rem;
      letter-spacing: 4px;
      position: relative;
      z-index: 5;
      text-align: center;
      margin-bottom: 1.8rem;
      text-transform: uppercase;

      a {
        color: $color-white;
        text-decoration: none;
      }
    }

    p {
      margin-bottom: 1.8rem;
    }
  }

  .about-text a,
  .about-text a:hover {
    color: $color-white;
    background-image: linear-gradient(transparent 84%, currentColor 84%, currentColor 88%, transparent 88%);
  }
}

//
// Blog
//

.entry {
  padding: 0 1rem;

  @media #{$screen-medium} {
    padding: 0;
  }
}

.single-entry,
.entry-list {
  @media #{$screen-medium} {
    max-width: $row-s;
    margin: auto;
  }
}

.entry-header {
  margin: auto;
  margin-bottom: 17px;
  text-align: center;

  // @media #{$screen-medium} {
  //   max-width: 85%;
  // }
}

.entry-title {
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  margin: auto;
}

.entry-timestamp {
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
}

.single-entry {
  margin-top: 4rem;
  padding-bottom: 4rem;

  .entry-title {
    font-size: 25px;
    line-height: 1.1;
    margin-bottom: 7px;

    @media #{$screen-medium} {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  .entry-timestamp {
    font-size: 15px;
  }

  .entry-footer {
    position: relative;
  }

  .entry-footer:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 40px;
    border-top: 2px solid lighten($color-gray, 5%);
  }
}

.entry-body {
  font-family: 'Ubuntu', serif;
  font-size: 17px;
  line-height: 1.6;

  @media #{$screen-medium} {
    font-size: 20px;
    line-height: 1.65;
  }
}

.entry-footer {
  margin-top: 6.25rem;
  font-family: $font-primary;
  font-size: 0.9rem;
  line-height: 1.5;
  color: darken($color-gray, 20%);
}

  .entry-footer p {
    margin-bottom: 0.8rem;
  }

  .entry-footer a {
    color: darken($color-gray, 20%);
    text-decoration: underline;
  }

  .entry-timestamp {
    display: block;
    position: relative;
    // font-size: 0.7rem;
    white-space: nowrap;
    color: darken($color-gray, 20%);
  }
  

  a.entry-timestamp-link {
    text-decoration: none;
  }

.entry-list {
  .entry-title {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 7px;

    @media #{$screen-medium} {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  .entry {
    margin-bottom: 8rem;
    &:last-child {
      margin-bottom: 3rem;
    }
  }

  .entry-header {
    margin-left: 0;
    margin-right: 0;
    text-align: initial;
  }

  .entry-footer {
    margin-top: 25px;
  }

  .entry-timestamp {
    display: inline;
  }

  a.entry-timestamp-link {
    text-decoration: none;
  }
}

// Read later link
a.read-link {
  // font-family: $font-primary;
  font-size: 0.75em;
  text-decoration: none;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  // -webkit-font-smoothing: auto;
}


//
// Archive page
//

.archive-header {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

.archive-title {
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;

  @media #{$screen-medium} {
    font-size: 30px;
    line-height: 1.1;
  }
}

.archive-link {
  font-size: 18px;
  font-family: $font-primary;
  display: inline-block;
  border-bottom: 1px solid $color-black;
  margin: 0 1rem;
  margin-bottom: 50px;

  @media #{$screen-medium} {
    margin-left: 0;
    margin-right: 0;
  }
  
}

.archive-list {
  max-width: $row-s;
  margin: auto;
  // -webkit-font-smoothing: antialiased;
  padding: 0 1rem;

  @media #{$screen-medium} {
    padding: 0;
  }

  strong {
    font-weight: bold;
  }

  li {
    // max-width: 600px;
    font-family: Ubuntu, serif;
    font-size: 15px;
    line-height: 1.5;
    // font-weight: 300;
    margin-bottom: 35px;

    @media #{$screen-medium} {
      font-size: 19px;
      line-height: 1.6;
    }
  }
}

  .archive-list-timestamp {
    margin-right: 3px;
  }

  .archive-list-timestamp-link {
    border-bottom: 1px solid $color-black-text;
  }

  .archive .searchBlock {
    margin-top: 100px;
    margin-bottom: 50px;
  }

// Footer Meta

.footerMeta {
  font-family: $font-primary;
  text-align: center;
  padding: 0 16px;
  margin-top: 120px;

  @media #{$screen-medium} {
    padding: 0;
  }
}

.footerMeta-link {
  font-family: inherit;
  font-size: 14px;
  margin: 0 9px;
  border-bottom: 1px solid $color-black;

  @media #{$screen-medium} {
    font-size: 16px;
  }
}

.searchBlock {
  font-family: $font-primary;
  text-align: center;
}

.searchBlock-input {
  margin: auto 1rem;
  width: 270px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #eee;
  border-radius: 17px;
  -webkit-appearance: none;

  @media #{$screen-medium} {
    padding: 8px 15px;
  }

  &:focus {
    border-color: #c5c5c5;
  }
}

.footerMeta .searchBlock {
  margin-top: 30px;
  margin-bottom: 50px;
}
