// Colors
$color-white: #fff;
$color-black: #000;
// $color-black-text: #404040;
$color-black-text: $color-black;
$color-gray: #aaa;
$color-yellow: #FF9;

// Media queries

// Medium screens
$screen-medium: 'only screen and (min-width: 769px)';

// Large screens
// $screen-large: 'only screen and (min-width: 1100px)';
$screen-large: 'only screen and (min-width: 1200px)';

// Sizes
$row-m: 800px;
$row-s: 750px;
$row-xs: 600px;

$media-xl: 1100px;
$media-m: 769px;

// Fonts
$font-primary: 'Ubuntu', sans-serif;
