<header class="main-header h-card">
  <nav class="title-nav" role="navigation">
    <a class="main-header-title" href="/">
      <img class="title-nav-pic u-photo" src="/assets/berlin-art.jpg" width="80" alt="{{strings.authorName}} profile picture">
    </a>
    <h1 class="title-nav-header"> <a class="main-header-title p-name" href="/">{{strings.authorName}}</a></h1>
    <ul class="title-nav__list">
      <li class="title-nav__list-item"><a href="/">{{strings.index}}</a></li>
      <li class="title-nav__list-item"><a href="{{navPath}}/blog/">{{strings.blog}}</a></li>
      <li class="title-nav__list-item"><a href="{{navPath}}/archive/">{{strings.archive}}</a></li>
      <li class="title-nav__list-item"><a href="{{navPath}}/subscribe/">{{strings.subscribe}}</a></li>
    </ul>
  </nav>
</header>
