<!DOCTYPE html>
<html lang="{{lang}}" class="is-no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if isSingle}}{{title}}{{else}}{{pageTitle}}{{/if}}</title>
  <meta name="title" content="{{#if isSingle}}{{title}}{{else}}{{pageTitle}}{{/if}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{strings.twitter}}">
  <meta name="twitter:creator" content="{{strings.twitter}}">
  {{#if isSingle}}
    <meta property="og:url" content="{{absoluteLink}}">
    <meta property="og:title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    {{#if description}}
      <meta name="description" content="{{description}}">
      <meta name="twitter:description" content="{{description}}">
    {{else}}
      <meta name="description" content="{{strings.siteTitle}}">
      <meta name="twitter:description" content="{{strings.siteTitle}}">
    {{/if}}
    {{#if cover}}
    <meta property="og:image" content="{{cover}}">
    <meta name="twitter:image" content="{{cover}}">
    {{/if}}
    <meta property="og:type" content="article">
  {{else}}
    <meta name="description" content="{{strings.siteTitle}}">
    <meta property="og:image" content="https://arturpaikin.com/assets/lock.jpg">
    <meta name="twitter:image" content="https://arturpaikin.com/assets/lock.jpg">
    <meta property="og:type" content="website">
  {{/if}}
  <meta property="og:site_name" content="{{strings.siteTitle}}">
  <link rel="icon" type="image/png" href="/assets/artcoffee.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/artcoffee.png">
  {{#if isBlog}}<link rel="alternate" type="application/rss+xml" title="{{strings.blogTitle}}" href="{{navPath}}/blog-feed.xml">{{/if}}
  <link href="/assets/main.css" rel="stylesheet">
</head>
<body{{#if slug}} class="{{slug}}"{{/if}}>
