<form class="searchBlock" method="get" id="search" action="https://duckduckgo.com/">
  <input type="hidden" name="sites" value="https://arturpaikin.com/">
  <input type="hidden" name="k8" value="#444444">
  <input type="hidden" name="k9" value="#ee4792">
  <input type="hidden" name="kt" value="h">
  <input class="searchBlock-input" type="text" name="q" maxlength="255" placeholder="{{strings.searchQuery}}" aria-label="{{strings.searchQuery}}">
  <input type="submit" value="{{strings.searchQuery}}" style="display: none;">
</form>
