{{>header}}
{{>blog-nav}}

<main class="archive">
  <header class="archive-header">
    <h1 class="archive-title">{{{strings.archive}}}</h1>
  </header>

  {{#each documentList}}
  <ul class="archive-list">
    <li>
      <a class="archive-list-timestamp" href="{{relativeLink}}">
        <time class="archive-list-timestamp-link">{{yearMonthDate}}</time>:
      </a>
      <strong>{{{title}}}</strong>
      {{{body.description}}}
    </li>
  </ul>
  {{/each}}

  {{>search-block}}
</main>

{{>footer}}
