{{>header}}

{{>blog-nav}}

<main class="entry-list h-feed">
  {{#each documentList}}
  <article class="entry h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="entry-header">
      <h1 class="entry-title p-name" itemprop="headline"><a href="{{relativeLink}}">{{{typoTitle}}}</a></h1>
      <a class="entry-timestamp-link" href="{{relativeLink}}">
        <time class="entry-timestamp dt-published" itemprop="datePublished" datetime="{{pubDate}}">{{stringDateTime}}</time>
      </a>
    </header>
    <div class="entry-body content e-content">
      {{#if body.excerpt}}
        {{{body.excerpt}}}
        <a href="{{relativeLink}}" class="read-link">{{strings.readmore}}</a>
      {{else}}
        {{{body.full}}}
      {{/if}}
    </div>
  </article>
  {{/each}}

  <div class="footerMeta">
    <a class="footerMeta-link" href="{{navPath}}/archive/">{{strings.archiveLink}}</a>
    <a class="footerMeta-link" href="{{navPath}}/subscribe/">{{strings.subscribe}}</a>
    {{>search-block}}
  </div>
  
</main>

{{>footer}}
