{{>header}}

<main class="category">
  {{#each documentList}}
  <ul class="category-list">
    <li>
      <a href="{{relativeLink}}">{{{title}}}</a>
      <ul>
        {{#each images}}
          <li><img src="{{this}}"></li>
        {{/each}}
      </ul>
      <p>
        {{description}}
      </p>
    </li>
  </ul>
  {{/each}}
</main>
{{>footer}}
