<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{strings.blogTitle}}</title>
  <link rel="alternate" type="text/html" href="{{strings.blogURL}}/"/>
  <link rel="self" type="application/atom+xml" href="{{strings.siteURL}}/blog-feed.xml"/>
  <updated>{{updated}}</updated>
  <id>{{strings.blogURL}}/</id>
  <author>
    <name>{{strings.authorName}}</name>
    <email>{{strings.authorEmail}}</email>
  </author>

  {{#each documentList}}
    <entry>
      <title>{{title}}</title>
      <link type="text/html" rel="alternate" href="{{absoluteLink}}"/>
      <updated>{{pubDate}}</updated>
      <id>{{absoluteLink}}</id>
      <content type="html">
        {{body.full}}
      </content>
    </entry>
  {{/each}}
</feed>
