{{>header}}
  <main class="page-index">
    <article class="about h-card">
      <header class="about-header">
        <img class="about-photo u-photo" src="{{profilePic}}">
      </header>
      <div class="about-text content">
        {{{body.full}}}
      </div>
    </article>
  </main>
{{>footer}}
