{{>header}}

{{>blog-nav}}

<main class="single-entry">
  <article class="entry">
    <header class="entry-header">
      <h1 class="entry-title">{{{typoTitle}}}</h1>
    </header>

    <div class="entry-body content">
      {{{body.full}}}
    </div>
  </article>
</main>

{{>footer}}
