{{>header}}
{{>blog-nav}}

<main class="single-entry">
  <article class="entry h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="entry-header">
      <h1 class="entry-title p-name" itemprop="headline">{{{typoTitle}}}</h1>
      <p><time class="entry-timestamp dt-published" itemprop="datePublished" datetime="{{pubDate}}">{{stringDate}}</time></p>
    </header>

    <div class="entry-body content e-content">
      {{{body.full}}}
    </div>

    <footer class="entry-footer">
      <p>{{{strings.postFooterText}}}</p>
    </footer>
  </article>
</main>

{{>footer}}
